snippet func
	func ${1}(${2}) ${3} {
		${0}
	}
snippet if
	if ${1:condition} {
		${0}
	}
snippet err
	if err != nil {
		${1:return err}
	}
snippet switch
	switch ${1:var} {
	case ${2:value1}:
		${0}
	}
snippet select
	select {
	case ${1:v1} := <-${2:chan1}
		${0}
	}
snippet tests
	tests := []struct {
		${1}
		expect ${2:type}
	}{
		{$3},
	}

	for i, test := range tests {
		${4}
	}
